<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    {%extends 'layout.html' %}
  </head>
  <body>

    {% block content %}

      <div class="subtitle">
        <em> Scrape your Svtble blog and generate an archive </em>
      </div>

      <div class="form-page row">


        <form action="/scrape" method="post" onsubmit="timeWarning()" >
          <input id="url-field" type="text" name="url" placeholder="http://...">
          <input id="generate" type="submit" value="Scrape!">
        </form>

          <div class="alert-info feedback">
          </div>

          <div class="alert-error feedback">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert feedback">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>

      </div>

      <!-- JS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <script type=text/javascript src="{{url_for('static', filename='scripts/timeWarning.js')}}"></script>
        <!-- <script type=text/javascript src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.5.4/showdown.min.js"></script> -->
        <!-- <script type=text/javascript src="{{url_for('static', filename='scripts/previewArchive.js')}}"></script> -->

      {% endblock %}
  </body>
</html>

