<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>

    <!-- Hello from './hello.html'.  This next value is dynamic: {{  thing  }} -->

    <h2>Generate your blog TOC</h2>

    <em> Please enter the full URL, including the 'http...'</em>

    <div class="url-form">
      <form action="/scrape" method="POST">
        <input type="text" name="URL" placeholder="URL here">
        <input type="submit" value="submit">
      </form>
    </div>

  </body>
</html>
